/* Basic Reset */
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
  font-family: Mandali, sans-serif;
  color: #333;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lilita One', sans-serif;
}

/* Navigation Bar */
.navbar {
  padding: 0.3rem;
  background-color: #f8f8f86f;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 4px 0px; opacity: 1;
  font-family: 'Lilita One', sans-serif;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

.navbar li {
  margin: 0;
}

.navbar a {
  display: block;
  padding: 1rem 1.5rem;
  text-decoration: none;
  color: rgb(63, 63, 70);
  font-size: 1.2em;
}

.navbar a:hover,
.navbar a.active {
  background-color: #EDEDEF;
  border-radius: 8px;
}

/* Main Content */
main {
  flex: 1;
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
}

main h1,
main h2 {
  margin-bottom: 1rem;
}

/* Footer */
footer {
  text-align: center;
  padding: 1rem 0;
  background-color: #f8f8f8;
  margin-top: 2rem;
  border-top: 1px solid #ddd;
}
